// colors //
$main-color: #035eff;
$l-gray: #a6a6a6;
$gray: #404040;
$d-gray: #262626;
$dark: #1a1a1a;
$link-hover: #fff;

$white: #fff;
$black: #000;

$body-color: $l-gray;
$body-bg-color: $dark;

$header-height: 65px;
$border-radius: 10px;

$language: "en";

// screen sizes //
$sm: "min-width: 576px";
$max-sm: "max-width: 767px";
$md: "min-width: 768px";
$max-md: "max-width: 991px";
$lg: "min-width: 992px";
$max-lg: "max-width: 1199px";
$xl: "min-width: 1200px";
$max-xl: "max-width: 11399px";
$xxl: "min-width: 1400px";
